#home {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	max-width: 1200px;
	margin: auto;

	h2 {
		text-align: center;
	}

	table {
		grid-column: 1 / 4;
		width: calc(100% - 20px);
		margin: 10px;

		td:nth-child(2) {
			text-align: right;
		}
	}

	& > *:not(table) {
		width: 100%;
	}

	#balanceChart {
		grid-column: 4 / 13;
	}

	#categoryChart {
		grid-column: 1 / 7;
	}

	#incomeFrequencyChart {
		grid-column: 7 / 10;
	}

	#expenseFrequencyChart {
		grid-column: 10 / 13;
	}
}