#home {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	max-width: 1200px;
	margin: auto;

	h2 {
		text-align: center;
	}

	table {
		grid-column: 1 / 4;
		width: calc(100% - 20px);
		margin: 10px;

		td:nth-child(2) {
			text-align: right;
		}
	}

	& > *:not(table) {
		width: 100%;
	}

	#balanceChart {
		grid-column: 4 / 13;
	}

	#frequencyChart {
		grid-column: 1 / 4;
	}

	#categoryChart {
		grid-column: 4 / 7;
	}

	#categoryChart + * {		/* TODO: Use the right name */
		grid-column: 7 / 10;
	}

	#categoryChart + * + * {	/* TODO: Use the right name */
		grid-column: 10 / 13;
	}
}